<%- include('../include/header') %>
<link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="card text-center login-box">
          <div class="card-body">
            <h1> Đăng Nhập</h1>
            <form class="from-login" action="" method="POST" enctype="multipart/form-data">
              <div class="text-box">
                <i class="far fa-user"></i>
                <input type="text" placeholder="Nhập tài khoảng....">
              </div>
              <div class="text-box">
                <img src="/images/lock-icon-png-.png" width="16px" height="19px">
                <input type="password" placeholder="Nhập mật khẩu...">
              </div>
              <button type="button" class="btn"> Đăng nhập</button>
              
            </form>
          </div>
        </div>
      </div>
    </div>












  </div>
  <%- include('../include/script') %>
  <%- include('../include/end') %>
