html,body{
  height: 100%;
}
.container-fluid{
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  height: 800px;
}
.from-data{
  margin: 20px 25px;
}
.from-data input{
  width: 650px;
  height: 50px;
  padding: 0 10px;
}
.from-data input::-webkit-input-placeholder {
  font-size: 20px;
  line-height: 3;
}

.from-data .loaiservice{
  width: 324px;
  height: 50px;
  padding: 0 10px;
  margin-top: 20px;
}
.from-data .service{
  width: 324px;
  height: 50px;
  padding: 0 10px;
  margin-top: 20px;
  transition: 1s;
}
.from-data .giaservice{
  width: 215px;
  height: 50px;
  padding: 0 10px;
  margin-top: 20px;
}

.from-data .district{
  width: 215px;
  height: 50px;
  padding: 0 10px;
  margin-top: 20px;
}
.text-content{
  text-align: center;
  margin-top: 20px;
}
.from{
  margin-left: 200px;
  width: 710px;
  height: 400px;
  color: antiquewhite;
}
.btn-danger{
  width: 100%;
  height: 50px;
  font-weight: bold;
  font-size: 30px;
  border: 0px;
}
.district, .service,.loaiservice{
  cursor: pointer;
  border-radius: 4px;
}
