body{
  margin: 0px;
  padding: 0px;
  background-image: url(/images/bg-login.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.login-box
{
	top: 40%;
  left: 35%;
}
.card-body{
  text-align: center;
}

.text-box{
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 15px 0;
	border-bottom: 1px solid #000;
	
}
.text-box input {
	border: none;
	outline: none;
	background: none;
	color: #000;
	font-size: 18px;
	width: 80%;
	margin: 0 10px;
}
.card{
  background: none;
  border-radius: 10px;
  border: 0px;
  width: 500px;
  height: 300px;
}
.btn{
	width: 100%;
	background: none;
	border: 2px solid  #000;
	padding: 10px;
	font-size: 18px;
	cursor: pointer;
	margin: 25px 0;
	color: #000;
	outline: none;


}
.alert {
	position: fixed;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 9999;
	color: #fff;
	font-size: 1.8rem;
	font-weight: 400;
	text-align: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 1.6rem 15rem;
	-webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
	box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  }
  .alert--success {
	background-color: #20bf6b;
  }
  .alert--error {
	background-color: #eb4d4b;
  }
  