<script>
  $.datetimepicker.setLocale('vi');

  $('#start').datetimepicker({
    minTime:0,
    step: 30,
    minDate: 0,
    format:'m/d/Y H:i',
    formatDate:'d/m/Y',
    lang: 'vi'

  });
</script>

</body>
</html>