<footer>
  <div class="mb-2">
    <div class="container">
      <div class="title text-center" style="color: #fff;">Nha<span>Khoa</span></div></h3>
      <div class="row">
        <div class="col">
          <ul> Địa chỉ
            <li>
               270 Cao Lỗ, Quận 8, TP.Hồ Chí Minh
            </li>
          </ul>
         </div>
         <div class="col">
           <ul>Liên hệ
             <li>Hotline: 1900109</li>
             <li>Email: duytam@gmail.com</li>
           </ul>
         </div>
         
      </div>
      
      
    </div>
        
             
      

  </div>
</footer>
