<div class="wrapper1">
  <!--header menu start-->
  <div class="header">
      <div class="header-menu">
          <div class="title">Nha<span>Khoa</span></div>
          <div class="sidebar-btn">
              <i class="fas fa-bars"></i>
          </div>
          <ul>
              <li><a href="#"><i class="fas fa-search"></i></a></li>
              <li><a href="#"><i class="fas fa-bell"></i></a></li>
              <li><a><i class="fas logoutAdmin fa-power-off"></i></a>></li>
          </ul>
      </div>
  </div>