
<nav>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-auto">
        <div class="logo">
          <a href="#">NHA KHOA</a>
        </div>
      </div>
      <div class="col-auto">
        <ul class="list-menu">
         <li>
           <a href="#">Giới thiệu</a>
         </li>
         <li>
           <a href="#">Địa chỉ</a>
         </li>
         <li>
           <a href="#">Dịch vụ</a>
        </li>
         <li>
           <a href="#">Khách hàng</a></li>
         <li>
           <a href="#">Tin tức</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

