<div class="sidebar">
  <div class="sidebar-menu">
      <center class="profile">
          <img src="/images/avatar.jpg" alt="">
          <p>KaCa</p>
      </center>
      <li class="item">
          <a href="#" class="menu-btn">
              <i class="fas fa-desktop"></i><span>Dashboard</span>
          </a>
      </li>
      <li class="item" id="profile">
          <a href="#profile" class="menu-btn">
              <i class="fas fa-user-circle"></i><span>Dịch vụ<i class="fas fa-chevron-down drop-down"></i></span>
          </a>
          <div class="sub-menu">
            <% Service.forEach(function(element) { %>
              <a href="#"><i class="fas fa-image"></i><span><%= element.serviceName %></span></a>
            <% }); %>
          </div>
      </li>
      <li class="item" id="messages">
          <a href="#messages" class="menu-btn">
              <i class="fas fa-envelope"></i><span>A<i class="fas fa-chevron-down drop-down"></i></span>
          </a>
          <div class="sub-menu">
              <a href="#"><i class="fas fa-envelope"></i><span>New</span></a>
              <a href="#"><i class="fas fa-envelope-square"></i><span>Sent</span></a>
              <a href="#"><i class="fas fa-exclamation-circle"></i><span>Spam</span></a>
          </div>
      </li>
      <li class="item" id="settings">
          <a href="#settings" class="menu-btn">
              <i class="fas fa-cog"></i><span>Cài đặt<i class="fas fa-chevron-down drop-down"></i></span>
          </a>
          <div class="sub-menu">
              <a href="#"><i class="fas fa-lock"></i><span>Password</span></a>
              <a href="#"><i class="fas fa-language"></i><span>Language</span></a>
          </div>
      </li>
      <li class="item">
          <a href="#" class="menu-btn">
              <i class="fas fa-info-circle"></i><span>Thông tin</span>
          </a>
      </li>
  </div>
</div>

