<div class="sidebar">
  <div class="sidebar-menu">
      <center class="profile">
          <img src="/images/avatar.jpg" alt="">
          <p>Kaca</p>
      </center>
      <li class="item">
          <a href="/admin/dashboard" class="menu-btn">
              <i class="fas fa-desktop"></i><span>Dashboard</span>
          </a>
      </li>
      <li class="item" id="profile">
          <a href="/admin/service" class="menu-btn">
              <i class="fas fa-user-circle"></i><span>Dịch vụ</span>
          </a>
          <div class="sub-menu">
              <a href="#"><i class="fas fa-envelope"></i><span>New</span></a>
              <a href="#"><i class="fas fa-envelope-square"></i><span>Sent</span></a>
              <a href="#"><i class="fas fa-exclamation-circle"></i><span>Spam</span></a>
          </div>
      </li>
      <li class="item" id="settings">
          <a href="/admin/list-admin" class="menu-btn">
              <i class="fas fa-cog"></i><span>Quản lý admin<i class="fas fa-chevron-down drop-down"></i></span>
          </a>
      </li>
      <li class="item">
          <a href="/admin/list-schedule" class="menu-btn">
              <i class="fas fa-info-circle"></i><span>Danh sách lịch hẹn </span>
          </a>
      </li>
  </div>
</div>

