<%- include('../include/header') %>
<link rel="stylesheet" href="/css/nav-menu.css">
<link rel="stylesheet" href="/css/content.css">
<link rel="stylesheet" href="/css/footer.css">
<style>
  table td{
    padding: 10px 10px;
    
  }
  
  .card{
    display: inline-block;
  }
  .card-1{
    margin-left: 250px;
  }
  .card{
    margin-top: 30px;
    width: 500px;
  }

</style>
</head>
<body>
  
  <div class="container">
    <div class="row">
      <div class="col-md-12 card-1">
        <div class="card ">
          <div class="card-header text-center">
            <h2>Lịch Hẹn</h2>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table>
                <tr>
                  <th>Tên khách hàng: </th>
                  <td>Quách Trọng Nhân</td>
                </tr>
                <tr>
                  <th>Số điện thoại</th>
                  <td>0123456789</td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td>zznhanzz1999@gmail.com</td>
                </tr>
                <tr>
                  <th>Chi nhánh</th>
                  <td>Quận 7, TP.Hồ Chí Minh</td>
                </tr>
                <tr></tr>
                <th>Ghi chú</th>
                <td>Làm sạch đẹp cho tôi</td>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
     
  <%- include('../include/footer') %>
  <%- include('../include/end') %>